
.select-topic {
  width: 1080px;
  height: 850px;
  background-color: #ffffff;
  box-shadow: 0px 15px 40px 5px #ededed;
  border-radius: 30px;
  font-family: 'Poppins';
  font-style: normal;
  color: #696f79;
}

.select-topic > .title {
  font-weight: 700;
  font-size: 33px;
  line-height: 50px;
  margin-top: 24px;
  margin-left: 40px;
}

.select-topic > .text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-top: 7px;
  margin-left: 40px;
  margin-bottom: 25px;
}

.quiz-titles {
  height: 600px;
}
.quiz-titles > .quiz-list > .quiz-item > img {
  position: relative;
  width: 235px;
  height: 172px;
  box-shadow: 0px 15px 40px 5px #ededed;
  border-radius: 30px;
}

.quiz-titles > .quiz-list > .quiz-item > p {
  position: absolute;
  margin-top: -40px;
  margin-left: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.btn-active {
  background-color: #8692a6;
}
.right-btn {
  margin-left: calc(77%);
  margin-top: 20px;
  width: 212px;
}