.container {
  background-color: white;
  max-width: 1440px;
  max-height: 1024px;
  height: 1000px;
}

.title > img {
  position: relative;
  background-image: url('@/assets/book.jpg');
  filter: blur(12px);
  -webkit-filter: blur(12px);
  width: 663px;
  height: 1000px;
}

.description > h1 {
  position: absolute;
  top: calc(20%);
  left: calc(20%);
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 117px;
  color: #00daf7;
}

.description > p {
  position: absolute;
  top: calc(27%);
  left: calc(20%);
  width: 297px;
  height: 304px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 38px;
  color: #ffffff;
}

.shape {
  position: absolute;
  top: calc(75%);
  left: calc(38%);
  background: #ffffff;
  background-image: url('@/assets/register-tool-1.png');
  background-size: 33.5px 33px;
  width: 33.5px;
  height: 33px;
}

.back-btn {
  height: 40px;
  width: 70px;
  margin-top: 20px;
  margin-left: 30px;
}

.back-btn > p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #8692a6;
  margin-top: 13px;
}

form > .register-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
  height: 45px;
}

form > .register-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #8692a6;
  width: 411px;
  height: 28px;
}

form > hr {
  width: 427px;
}

form > .email-text,
form > .password-text,
form > .remember-box > label {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #696f79;
  margin-bottom: 12px;
}

form > .email-text {
  margin-top: 31px;
}

form > .email,
form > .password {
  width: 426px;
  height: 64px;
  background: #ffffff;
  box-shadow: 0px 15px 40px 5px #ededed;
  border-radius: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #8692a6;
  padding-left: 34px;
  border: none;
}

.remember-box > .checkbox {
  width: 20px;
  height: 20px;
}

.remember-box > label {
  margin-left: 15px;
  margin-top: 12px;
}

form {
  align-self: center;
  width: 500px;
  margin-top: 60px;
}

form > .register-btn {
  background: #8692a6;
  border-radius: 30px;
  width: 426px;
  height: 64px;
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 37px;
}

.line {
  margin-top: 25px;
  width: 426px;
}

.line > p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 15px;
  color: #bababa;
  margin: 0 35px;
}

.register-with-google {
  margin-top: 25px;
  background: #ffffff;
  box-shadow: 0px 15px 40px 5px #ededed;
  border-radius: 30px;
  width: 426px;
  height: 64px;
}

.register-with-google > img {
  width: 24px;
  height: 24px;
}

.register-with-google > p {
  margin-top: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #000000;
}
